{% extends 'base.html' %}
{% from 'base.html' import titleHeader with context %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ titleHeader(title) }}

<div class="grid-container p-5">
    {% for path in paths %}
    <a href="{{ url_for('new_path') }}">
        <div class="grid-item bg-black">
            <h1 class="text-white">Trajet {{paths.index(path) + 1}} </h1>
            <h4 class="text-white">Enregistré le {{ path.creationDate.strftime("%d/%m/%Y %H:%M:%S") }}</h4>
        </div>
    </a>

    {% endfor %}
</div>
{% endblock content %}