{% extends 'base.html' %}
{% from 'base.html' import titleHeader with context %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ titleHeader(title) }}

    <div class="grid-container p-5 text-center lk-black">
            <a class="grid-item" href="{{ url_for('new_path') }}">
                <div class="col col-huge bg-orange p-5 lk-main">Effectuer un nouveau trajet</div>
            </a>
            <div class="grid-item"></div>
            <a class="grid-item" href="{{ url_for('history_path') }}">
                <div class="col col-huge bg-orange p-5 lk-main">Consulter l'historique des trajets</div>
            </a>
        </div>
    </div>
{% endblock content %}