{% extends 'base.html' %}
{% from 'base.html' import titleHeader with context %}
{% from 'base.html' import dataTables with context %}

{% block imports %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
{% endblock imports %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ titleHeader(title) }}

    <div class="container-fluid mt-auto">
        <div class="row">
            <div class="col nopadding">
                <div id='map' style='width: 1450px; height: 830px;'></div>
            </div>
            <div class="col nopadding">
                <table class="table table-light table-hover nopadding">
                    <thead>
                        <tr>
                            <th>Liste des coordonnées du trajet :</th>
                        </tr>
                    </thead>
                </table>
                <table id="dataTable" class="table table-light table-hover display nopadding">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Longitude (X)</th>
                            <th scope="col">Latitude (Y)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td scope="row">1.53</td>
                            <td scope="row">4</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td scope="row">2.53</td>
                            <td scope="row">6</td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td scope="row">3.53</td>
                            <td scope="row">5</td>
                        </tr>
                        <tr>
                            <td scope="row">4</td>
                            <td scope="row">3.53</td>
                            <td scope="row">5</td>
                        </tr>
                        <tr>
                            <td scope="row">5</td>
                            <td scope="row">3.53</td>
                            <td scope="row">5</td>
                        </tr>
                        <tr>
                            <td scope="row">6</td>
                            <td scope="row">3.53</td>
                            <td scope="row">5</td>
                        </tr>
                        <tr>
                            <td scope="row">7</td>
                            <td scope="row">3.53</td>
                            <td scope="row">5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGViZXJyZWIiLCJhIjoiY2s1NDJtaXF3MGRxMjNubHp3d3kxeDZ5ayJ9.t8vR-bQq05tnhhxR9nXwRw';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>

{{ dataTables() }}

<script src="{{ url_for('static', filename='js/dataTablesActivator.js') }}"></script>
{% endblock js %}