{% extends 'base.html' %}
{% from 'base.html' import titleHeader with context %}
{% from 'base.html' import dataTables with context %}

{% block imports %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
{% endblock imports %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ titleHeader(title) }}

    <div class="container-fluid mt-auto">
        <div class="row">
            <div class="col-8 nopadding">
                <div id='map' style='width: 100%; height: 830px;'></div>
            </div>
            <div class="col nopadding">
                <table class="table table-light table-hover nopadding">
                    <thead>
                        <tr>
                            <th>Liste des coordonnées du trajet :</th>
                        </tr>
                    </thead>
                </table>
                <table id="dataTable" class="table table-light table-hover display nopadding">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="bg-orange"></th>
                            <th scope="col">Longitude (X)</th>
                            <th scope="col">Latitude (Y)</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<!-- MapBox -->
<script src="{{ url_for('static', filename='js/mapboxParameters.js') }}"></script>

<!-- DataTables -->
{{ dataTables() }}
<script src="{{ url_for('static', filename='js/dataTablesParameters.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTablesFunctions.js') }}"></script>
{% endblock js %}