.bg-orange {
    background-color: orange;
}

.bg-black {
    background-color: #353A40;
}

.lk-black a {
    color: #353A40;
    text-decoration: none;
}

.lk-white a {
    color: white;
    text-decoration: none;
}