.center {
    text-align: center;
}

.col-huge {
    width: 100%;
    height: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}